ul.square {
  list-style-type : square;
}

li.circle {
  list-style-type : circle;
}

ul.custom {
  list-style-image: url(bullet.gif);
}

li.custom_li{
  list-style-image: url(activity_ready.gif);
}

ul.indent {
     margin-left: 0;
     padding-left: 0;
}

ul.horizontal li {
     display: inline;
}
