<p>
  <b>Title:</b>
  <%=h @manifest.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @manifest.description %>
</p>


<%= link_to 'Edit', edit_manifest_path(@manifest) %> |
<%= link_to 'Back', manifests_path %>