<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Fairfax County Public Library Availability and Amazon Prices</title>
  <!-- START:stylesheet -->
  
  <!-- END:stylesheet -->
  </head>
  <body>
    <div id="site_logo">
      <p>Site Logo here</p>
    </div>
    <div id="tagline">
      <p>Borrow or buy it for less!</p>
    </div>
    <div id="mission">
      <p>We tell you which Fairfax County Library Branches have this book (and if in stock),
        and the Amazon price.  You can reserve or order from here!</p>
    </div>
    <div id="disclaimer">
      <p>This site is not affiliated with the Fairfax County Library System or Amazon.com</p>
    </div>
    <div id="columns">
      <div>
        <% form_for :search, :url => { :action => :find } do |form| %>
          <label for="order_name">Book Title:</label>
          <%= form.text_field :name, :size => 40 %>
          <input type="submit" value="Search" />
        <% end %>
      </div>
      <div id="main">
        <%= yield :layout %>
      </div>
    </div>
  </body>
</html>
